<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div id="ResetForm" class="form-vertical">
          {% form 'reset_customer_password' %}

            <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>

            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <input type="password" placeholder="{{ 'customer.reset_password.password' | t }}" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <input type="password" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

            <input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>

<style>
input#ResetPassword,
input#PasswordConfirmation {
  padding: 16px 18px;
  border: 3px solid var(--color-border-form);
}
input.btn.text-center {
  display: block !important;
  width: 90% !important;
  padding: 22px 18px;
  margin: 0 auto 25px;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 749px) {
  #ResetForm {
    margin: 0 auto;
    max-width: 350px;
  }
}
</style>